:root{
    --space-colonization: #15155b;
    --intergalactic-highway: #243c84;
    --intergalactic-highway-lighter: #272e7d;
    --deepsea-kraken: #151da6;
    --royal-night: #28258d;
    --gold: #d4af37;
}

body{
    margin: 5rem 5rem;
    justify-content: center;
    align-items: center;
    background-color: var(--space-colonization);

    text-align: center;
    font-family: Arsenal;
}
.game-window{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.title-section{
    align-content: center;

}
h1{
    font-weight: 900;
    color: var(--gold);
    font-size: 60px;
    text-transform: uppercase;
}

.display-box{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 20px;
    justify-content: space-around;
    width: 70%;
}

.display-box div{
    padding: 10px;
    background-color: var(--intergalactic-highway-lighter);
    border: 1px solid var(--intergalactic-highway);
    text-align: center;
    color: white;
    width: 100%;

}

.comparisonResult{
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 20px;
    justify-content: space-around;
    width: 70%;
}
